h2 { 
    text-align:right;
    color:black;
    font-size:22pt;
    margin:0;
    opacity:.3;
}
h3 {
  font-size:13px;
  margin: .2em 0 .2em 0;
  opacity:.3;
} 

.defesas {
	color:black;
    padding:.5em;
	display:flex;
	flex-direction:column;
	height:255px;
    width:330px;
	overflow:hidden;
} 

.defesa_titulo { 
	display:block;
	flex:1 1 auto;
    font-size:17px;
	color:rgb(40,40,40);
} 

.defesa_local { 
	font-size:14px;
	color:#000;
	background-color:rgba(255,255,255,.2);
	flex:1 1 auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding:3px;
	margin-bottom:2px;
	overflow: hidden;
    display:none;
} 

.defesa_datahora { 
	font-size:14px;
	color:#000;
    font-weight:bold;
	margin-bottom:2px;
	background-color:rgba(255,255,255,.2);
	flex:1 1 auto;
	padding:3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
} 

.defesa_orientador { 
	font-size:14px;
	color:#555;
	text-overflow: ellipsis;
	padding:3px;
	flex:1 1 auto;
	overflow: hidden;
	background-color:rgba(255,255,255,.2);
} 

.defesa_descricao { 
    font-size:14px;
    color:#000;
	display:block;
	flex:1 1 50%;
	overflow: hidden;
} 

body { 
	padding:10px;
	padding-top:0;
} 

div.item { 
	color:#444;
	color:#fff;
	margin:.6em;
    border-top-left-radius:25px;
    border-bottom-left-radius:25px;
    width:350px;
    background-color:#fff;
	margin-left:.2em;
    overflow:hidden;
} 

