h2 { 
    text-align:center;
    color:black;
    font-size:22pt;
    font-weight:bold;
    margin:0;
    letter-spacing:.3px;
    margin-top:10px;
    opacity:.2;
}
h3 {
  font-size:16px;
  text-align:right;
  margin: -1px 0 .2em 0;
  opacity:.2;
} 

.defesas {
	color:black;
    padding:.5em;
	display:flex;
	flex-direction:column;
	height:255px;
    width:330px;
	overflow:hidden;
} 

.defesa_titulo { 
	display:block;
	flex:1 1 auto;
    font-size:17px;
	color:rgb(40,40,40);
} 

.defesa_local { 
	font-size:14px;
	color:#000;
	background-color:rgba(255,255,255,.2);
	flex:1 1 auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding:3px;
	margin-bottom:2px;
	overflow: hidden;
    display:none;
} 

.defesa_datahora { 
	font-size:16px;
	color:#000;
    font-weight:bold;
	margin-bottom:2px;
	background-color:rgba(255,255,255,.2);
	flex:1 1 auto;
	padding:3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
} 

.defesa_orientador { 
	font-size:14px;
	color:#555;
	text-overflow: ellipsis;
    text-align:right;
	flex:1 1 auto;
	overflow: hidden;
    padding:8px;
    margin-left:6px;
    margin-top:4px;
    border-radius:13px;
    width:318px;
    padding-right:30px;
	background-color:rgba(155,155,155,.2);
} 

.defesa_descricao { 
    font-size:14px;
    color:#000;
	display:block;
	flex:1 1 50%;
	overflow: hidden;
} 

body { 
	padding:10px;
	padding-top:0;
} 

div.item { 
	color:#444;
	color:#fff;
    margin-top:3px;
	margin-bottom:12px;
    border-top-left-radius:25px;
    border-bottom-left-radius:25px;
    width:350px;
    background-color:#fff;
	margin-left:.2em;
    overflow:hidden;
} 

