    body { 
	padding:10px;
	padding-top:0;
    } 

    div.itemshadow { 
	background:url(../vendor/shadow.png) 50% 0 no-repeat; 
	background-size: 530px 40px; 
	opacity:.3;
	margin-top:10px;
	height:16px; 
	width:100%;
    } 
    div.item { 
	color:#444;
	margin-top:10px;
	overflow:hidden;
	margin-left:.8em;
    padding-bottom:0px;
	height:262px;
    } 
    div h3 { 
	font-size:200%;
	font-weight:bold;
	color:#444;
	margin:0;
	margin-top:0em;
	margin-bottom:.2em;
    margin-right:1em;
    } 
    div.descFull { 
	font-size:23px;
	overflow:hidden;
    text-align:justify;
    margin-right:1em;
    } 

