@import url("http://fonts.googleapis.com/css?family=Varela");

html, body { margin:0; padding:0; } 

* { 
  font-family: 'Varela', sans-serif;
} 

h1 { 
   margin-left:0em;
   font-size:30px;
   margin-bottom:0;
   padding-left:1em;
   color:white;
   background-color:rgba(0,0,0,.1);
   font-weight:bold;
}

.titlelogo { 
 	font-size:32px;
	font-weight:bold;
} 

.titletop { 
 	font-size:24px;
	font-weight:bold;
} 

.bottom { color:white } 
.bottom h2 { margin:1em } 

#viewport.main { 
  background: -moz-radial-gradient( 10% 60%, circle closest-corner, #fff, #fff, #9c9);
  background-size: 1080px 1920px;
} 


.datetime  { 
  font-size:160%;
  color:white;
  font-weight:bold;
  text-align:center;
} 


