h3 {
  font-size:16px;
  font-weight:bold;
  margin:-.3em;
  margin-top:-.4em;
  opacity:.3;
} 

.evento{
    padding:.5em;
	overflow:hidden;
    color:white;
} 

.evento_datahora { 
	white-space: nowrap;
	color:white;
    background-color:rgba(255,255,255,.1);
    border-radius:6px;
    padding:3px 8px 3px 8px;
    display:inline-block;
} 

.evento_descricao { 
    display:inline-block;
    vertical-align:middle;
	padding-left:.5em;
	white-space:nowrap;
	overflow: hidden;
    font-size:22px;
	text-overflow: ellipsis;
} 

body { 
	padding:5px;
	padding-top:0;
} 

div.itemshadow { 
	background:url(../vendor/shadow.png) 50% 0 no-repeat; 
	background-size: 730px 60px; 
	opacity:.5;
	margin-top:.5em;
	border-top:1px solid rgba(0,0,0,.3);
	height:2px; 
} 

